::root {
    --eva01-a1: rgba(118, 88, 152, 1);
    --eva01-a2: rgba(166, 207, 89, 1);
    --noir: rgba(37, 37, 37, 1);
    --blanc: rgba(255, 255, 255, 1);
    --gris: rgba(241, 241, 241, 1);
    --rouge-accent: rgba(242, 94, 94, 1);
    --gris-blog: rgba(217, 217, 217, 1);
    
    /* Text-size styles */
        /* base size: body-2 (14px) */
        --heading-1: 3rem;
        --small-text: 0.86rem;
        --heading-2: 1.86rem;
        --heading-3: 1.43rem;
        --body-1: 1.43rem;
        --body-2: 1rem;
        --button: 0.86rem;
}
