.movies {
    display: flex;
    gap: 17px;
    flex-direction: column;
}

.movie {
    display: flex;
    flex-direction: column;
    width: auto;
}

.movie > figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie figcaption {
    text-align: left;
    font-family: Lato;
    font-size: var(--body-1);
}

