.movies {
    display: flex;
    gap: 17px;
    flex-direction: column;
}

.movie {
    display: flex;
    flex-direction: column;
}

.movie > figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie figcaption {
    text-align: left;
    font-family: Lato;
    font-size: var(--body-1);
}

@media screen and (min-width: 768px) {
    .movie > figure > img {
        width: 50%;
        height: auto;
    }
    
}

/* adapt class movies to flex-wrap wrap depending on the screen size */
@media screen and (min-width: 768px) {
    .movies {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

