footer {
    background-color: var(--noir, #252525);
    padding: 10px;
    margin-top: 35px;
}

footer > ul {
    list-style: none;
}

footer > p, a {
    color: #757575;
    text-align: center;
}

footer > ul > li > a {
    text-decoration: none;
    color: #FFF;
    /* Body 2 */
    font-family: Lato;
    font-size: var(--body-2);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}

footer > a, span {
    color: #FFF;
    
    /* Small text */
    font-family: Lato;
    font-size: var(--small-text);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
    text-decoration: none;
    display: flex;
}

.student-info {
    display: flex;
    justify-content: space-between;
}