header {
    background-color: var(--Noir, #252525);
    padding: 13px 6.21px 13px 6.21px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar__home > a {
    text-decoration: none;
    color: #FFF;
    color: #FFF;
        font-family: Times New Roman MT Std;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 33.6px */
        text-transform: uppercase;
}

.navbar__home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.navbar__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.navbar__buttons > button {
    background-color: transparent;
    border: none;
}

nav {
    background-color: var(--Noir, #252525);
    display: none;
}

nav > ul {
    list-style: none;

}

nav > ul > li > a {
    text-decoration: none;
    color: #FFF;
    /* Body 2 */
    font-family: Lato;
    font-size: var(--body-1);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
