.hero {
    color: var(--blanc, #fff);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('/public/img/hero.webp') lightgray 50% / cover no-repeat;
}

.hero__img {
    filter: blur(2.5px);
    height: 50%;
    position: relative;
    background-position: center;
}