.hero {
    color: var(--blanc, #fff);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('/public/img/hero.webp') lightgray 50% / cover no-repeat;
    height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.hero__quote {
    display: flex;
    flex-direction: column;
}

.hero__quote > span {
    display: flex;
    justify-content: end;
}


.hero > img {
    width: 10%;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
}
