.hero {
    color: var(--blanc, #fff);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('/public/img/hero.webp') lightgray 50% / cover no-repeat;
    height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero > h1 > span {
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: var(--rouge-accent);
    text-decoration-thickness: 20px;
    font-family: 'Times New Roman MT Std Bold Condensed';
    font-size: var(--heading-1);
}

.hero > span {
    display: flex;
    justify-content: flex-end;
}


.hero > img {
    width: 10%;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
}
